body {
    overflow: hidden;
    color: white;
}

.drawing-board {
    position: relative;
    bottom:-4px;
}

#drawing-board {
    border: 2px solid;
    border-color: black;
}

#toolbar {
    background-color: #202020;
    padding: 1rem;
}

#toolbar h1 {
    margin: 0;
}


#toolbar button {
    background-color: #1565c0;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 2px;
}