{% extends 'main.html' %}
{% load static %}
{% block content %}
<section class="container">
    <div class="drawing-board">
        <canvas id="drawing-board"></canvas>
    </div>
    <div id="toolbar">
        <h1>Draw</h1>
        <label for="stroke">Stroke</label>
        <input id="stroke" name="stroke" type="color">
        <label for="lineWidth">Line Width</label>
        <input id="lineWidth" name="lineWidth" type="number" value="5">
        <button id="clear">Clear</button>
        <button id="save">Save Image</button>
        <button id="finalize" onclick="togglePopup()">Finish</button>
        <span id="timer">{{time}} Seconds</span>
        <span id="frames">{{frame}}</span>
    </div>
    <div class="popup" id="popup-1">
        <div class="overlay"></div>
        <div class="content">
            <div class="close-btn" onclick="togglePopup()">&times;</div>
            <h2>Drawing Timelapse</h2>
            <p>Some test information</p>
            <p>AAAAAAAAAA</p>
        </div>
    </div>
</section>


<script src="{% static 'js/canvas.js' %}"></script>
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/canvas.css' %}">
{% endblock %}