{% extends 'main.html' %}
{% load static %}
{% block content %}
<section class="center" style="margin-top:160px;"> 
    <img src="{% static 'images/QuickDoodle_Background.gif' %}" alt="Goofy_Background" class="center background-image">
    <div>
        <h1 class="header">Welcome to QuickDoodle</h1>
        <div class="subtitle" style="bottom:45px;">draw your images into gifs</div>
    </div>
</section>
<form method="POST" action="{% url 'canvas' %}">
    {% csrf_token %}
    <section class="center" id="center">
        <div>
            <label for="time">Total time</label>
            <select name="time" id="time">
                <option value="-1">None</option>
                <option value="30">30 Seconds</option>
                <option value="60">1 Minute</option>
                <option value="180">3 Minute</option>
                <option value="300">5 Minute</option>
            </select>
        </div>
        <div>
            <label for="frame">Overall Frames</label>
            <select name="frame" id="frame">
                <option value="0">None</option>
                <option value="5">5 Frames</option>
                <option value="10">10 Frames</option>
                <option value="20">20 Frames</option>
                <option value="30">30 Frames</option>
            </select>
        </div>
    </section>
    <section class="center" style="margin-top: 20px;">
        <input type="submit" value="Click To Get Started"/>
    </section>
</form>

<section style="position:relative; top:300px;">
    <h1 class="center header2 underline">What is QuickDoodles?</h1>
    <div class="center subtitle content-block" style="color:black;justify-content:center;">
        QuickDoodle is a web app that creates a time-lapse of your drawing on canvas based on your set timeframe parameters.
        This is created with the help of gifshot, an image to gif webapp and is developed using Django as its backend framework.
    </div>
</section>
{% endblock %}